*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	width: 100%;
}
:root {
	--basic-text: #fff;
	--high-text: #67c23a;
	--url:url('img/1-1/1.jpg');
}
div{
	position: relative;
}
.info{
	display: flex;
    justify-content: center;
    align-items: center;
	
}

.wrap-all {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	display: none;
	width: 300px;
	height: 300px;
	z-index: 1;
	margin-top: 50px;
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 70px;
}
button{
	background: #3b5998;
	color: var(--basic-text);
	border: none;
	padding: 1rem 2rem;
	margin: 5px;
}
.image-container {
	margin-top: 1rem;
	list-style: none;
	border: 2px solid #3b5998;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 300px;
	max-height: 300px;
	min-width: 300px;
	min-height: 300px;
	
}
.list {
	width: 150px;
	height: 150px;
	overflow: hidden;
	background-image: var(--url);
	color: #fff;
	pointer-events: auto;
	user-select: auto;
}
.start-button {
	background: #3b5998;
	color: var(--basic-text);
	border: none;
	padding: 1rem 2rem;
	margin-top: 1rem;
}
.next-button{
	display: none;
	background: #3b5998;
	color: var(--basic-text);
	border: none;
	padding: 1rem 2rem;
	margin-top: 1rem;
}
.game-text {
	position: absolute;
	font-size: 45px;
	color: var(--high-text);
	text-shadow: 1px 1px rgba(0, 0, 0, 0.6);
	display: none;
    top:-200%; 
	left:50%;
    transform: translate(-50%, -50%);
}
.list0 {
	background-position-x: 0px;
	background-position-y: 0px;
}
.list1 {
	background-position-x: -150px;
	background-position-y: 0px;
}
.list2 {
	background-position-x: 0px;
	background-position-y: -150px;
}
.list3 {
	background-position-x: -150px;
	background-position-y: -150px;
}